# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
logs/
*.log
*.log.*
tmp/

# Editor configs
.vscode/
.idea/

# MacOS lixo
.DS_Store

# Cache
.cache/
*.tsbuildinfo

# Coverage (caso use testes)
coverage/
